services:
  db:
    image: postgres:13-alpine
    restart: always
    container_name: backend-db
    platform: linux/amd64
    env_file:
      - postgres.env
    volumes:
      - pg-volume:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
      interval: 5s
  ktor:
    build: .
    platform: linux/amd64
    container_name: backend-ktor
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - postgres.env
    depends_on:
      db:
        condition: service_healthy



volumes:
  pg-volume: {}
